section.brands
    .container
        .row.flex-column.justify-content-center.align-items-center
            h2.brands__title Brands
            ul.brands__list
                li.brands__item(style='background-image: url(assets/img/logos/Burberry_logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Fred-Perry-logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Burberry_logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Fred-Perry-logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Burberry_logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Fred-Perry-logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Burberry_logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Fred-Perry-logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Burberry_logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Fred-Perry-logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Burberry_logo.png)')
                li.brands__item(style='background-image: url(assets/img/logos/Fred-Perry-logo.png)')

