section.table
    .container
        .row
            .table__wrap
                h3.table-title My cart
                .table__header
                    .table__item-cell.table--cell
                        span.table__cell-text Item
                    .table__size.table--cell
                        span.table__cell-text Size
                    .table__qty.table--cell
                        span.table__cell-text Qty
                    .table__price.table--cell
                        span.table__cell-text Price
                    .table__additional.table--cell
                        span.table__cell-text Additional request
                    .table__empty.table--cell
                .table__item
                    .table__item-info.table--cell
                        a.table__item-link(href="goods.html")
                            .table__item-pic(style='background-image: url(assets/img/gallery/big-pic.png)')
                            span.table__item-desc Red tight shirt
                    .table__item-size.table--cell
                        span.table__size-value XL
                    .table__item-qty.table--cell
                        span.table__qty-value 1
                    .table__item-price.table--cell
                        span.table__price-value $49.00
                    .table__item-params.table--cell
                        span.table__params-value -
                    .table__item-remove.table--cell
                        button.table__remove-btn Remove
                .table__hollow
                    .table__item-cell.table--cell
                    .table__size.table--cell
                    .table__qty.table--cell
                    .table__price.table--cell
                    .table__additional.table--cell
                    .table__empty.table--cell
                .table__buttons
                    button.table__buttons-continue.btns Continue shopping
                    button.table__buttons-checkout.btns Check out
section.related
    .container
        .row
            .related__cart
                h3.related__items-title Don't miss...
                ul.related__items-list.related__items-list--cart
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-7.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-2.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-3.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-4.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-5.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-6.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-7.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item.related__items-item--cart
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-7.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
