footer.footer
    .container
        .row.flex-column.justify-content-center.align-items-center
            .footer__top
                .footer__left
                    .footer__logo
                        a(class='logo__link' href='#')
                            img(class='logo__pic' src='assets/img/logo.png' alt="logo")
                    .footer__desc
                        p Lorem ipsum dolor sit amet, alii reque ei eam, integre repudiare eum at. Alienum fierent partiendo id ius. Cu purto sapientem evertitur est, has harum eripuit ut. An commune fabellas has, commodo nostrum in vim.
                .footer__mid
                    a.footer__instagram(href='#')
                        h3.footer__instagram-title instagram
                    ul.footer__list-pic
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                        li.list-pic__item
                            a.list-pic__link(href='#' target="_blank")
                                img.list-pic__picture(src='assets/img/products/female-t-shirt-3.png' alt='Instagram picture')
                .footer__right
                    span.footer__right-title Main menu
                    .footer__right-wrap
                        ul.footer__right-list
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") About us
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Terms and conditions
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Return policies
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Support
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Help desk
                        ul.footer__right-list
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Search
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Women
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Men
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Kids
                            li.footer__right-item
                                a.footer__right-link(href='#' target="_blank") Sale
    .footer__bot
        .container
            span.footer__bot-copyright  Copyright © 2017 All rights reserved.