section.bottom
    .container.container--bottom
        .row
            .bottom__left.col-sm-6
                .comments__top
                    h3.comments__title Leave a comment
                    span.comments__desc Sed et repudiare intellegam, sonet melius mandamus cu mel.
                form(id="comments").comments__form
                    .comments__form-inputs
                        input(type="text" placeholder="Name" required).comments__input
                        input(type="email" placeholder="E-mail" required).comments__input
                    textarea(placeholder="Message" form="comments" required rows="5").comments__text
                    button.comments__form-submit(type="submit") Submit
                ul.comments__list
                    li.comment__item
                        .comment__item-top
                            .comment__item-avatar(style='background-image: url(assets/img/products/female-t-shirt.png)')
                            span.comment__item-name Alessandro Nesta
                        .comment__item-bot
                            p Lorem ipsum dolor sit amet, alii reque ei eam, integre repudiare eum at. Alienum fierent partiendo id ius. Cu purto sapientem evertitur est, has harum eripuit ut. An commune fabellas has, commodo nostrum in vim.

            .bottom__right.col-sm-6
                h3.related__items-title Related Items
                ul.related__items-list
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-7.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-2.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-3.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-4.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-5.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-6.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-7.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
                    li.related__items-item
                        a(href="#" style='background-image: url(assets/img/products/female-t-shirt-7.png)').related__items-link
                            .related__item-info
                                span.related__item-more More info
                                .related__item-right
                                    span.related__item-price $29.99
                                    .rating__icons.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                                        i.fa.fa-star.rating__icons--related
                        span.related__item-desc Lorem ipsum dolor sit amet, alii reque
