section.desc
    .container.container--desc
        .row
            .desc__left
                .desc__left-top
                    h3.desc__title Red tight shirt
                    .desc__wrap-category
                        span.desc__category Category:
                        p Women, Shirt
                    .desc__rating
                        .rating__icons
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .rating__value
                            span.rating__value-digits 5/5
                .desc__left-mid
                    p Sed et repudiare intellegam, sonet melius mandamus cu mel. Ut tation exerci appellantur vix, impetus salutandi intellegat no pri, quis euismod accusam ius ut. Eum nostro accumsan eu, exerci propriae vulputate ex quo, id usu vide doming audire. Reprimique eloquentiam pro ad, euripidis efficiantur intellegebat an ius, ea nec delicata corrumpit. Ea eam viderer similique adipiscing, est quis decore reprehendunt at. Lucilius tincidunt persecuti sea eu, quod ponderum vituperata duo ad, libris aperiam expetendis vis te. Rebum laudem nostrum pro ea, meis option praesent mel cu.
                .desc__left-bot
                    form(id="choose__form").desc__form
                        span.desc__form-title Size:
                        .desc__form-inputs
                            input(type="radio" class="size__xs radio" value="xs" name="size" id="xs")
                            label(for="xs") XS
                            input(type="radio" class="size__s radio" value="s" name="size" id="s")
                            label(for="s") s
                            input(type="radio" class="size__m radio" value="m" name="size" id="m")
                            label(for="m") m
                            input(type="radio" class="size__l radio" value="l" name="size" id="l")
                            label(for="l") l
                            input(type="radio" class="size__xl radio" value="xl" name="size" id="xl")
                            label(for="xl") xl
                        span.desc__form-title Quantity:
                        .desc__form-inputs
                            input(type="radio" class="quantity__1 radio" value="xs" name="Quantity" id="1")
                            label(for="1") 1
                            input(type="radio" class="quantity__2 radio" value="xs" name="Quantity" id="2")
                            label(for="2") 2
                            input(type="radio" class="quantity__3 radio" value="xs" name="Quantity" id="3")
                            label(for="3") 3
                            input(type="radio" class="quantity__4 radio" value="xs" name="Quantity" id="4")
                            label(for="4") 4
                            input(type="radio" class="quantity__5 radio" value="xs" name="Quantity" id="5")
                            label(for="5") 5
                        button(type="submit" form="choose__form" value="Submit").desc__form-btn add to cart
            .desc__right
                .gallery__big-pic.slider-for
                    .gallery__big-pic
                        img(src="assets/img/gallery/big-pic.png" alt='item pic').gallery__big-img
                    .gallery__big-pic
                        img(src="assets/img/gallery/catholder1.jpg" alt='item pic').gallery__big-img
                    .gallery__big-pic
                        img(src="assets/img/gallery/catholder2.jpg" alt='item pic').gallery__big-img
                    .gallery__big-pic
                        img(src="assets/img/gallery/catholder3.jpg" alt='item pic').gallery__big-img
                    .gallery__big-pic
                        img(src="assets/img/gallery/catholder4.jpg" alt='item pic').gallery__big-img
                .gallery__small-wrap.slider-nav
                    .gallery__small-pic
                        img(src="assets/img/gallery/big-pic.png").gallery__small-img
                    .gallery__small-pic
                        img(src="assets/img/gallery/catholder1.jpg" alt='item pic').gallery__small-img
                    .gallery__small-pic
                        img(src="assets/img/gallery/catholder2.jpg" alt='item pic').gallery__small-img
                    .gallery__small-pic
                        img(src="assets/img/gallery/catholder3.jpg" alt='item pic').gallery__small-img
                    .gallery__small-pic
                        img(src="assets/img/gallery/catholder4.jpg" alt='item pic').gallery__small-img

