header(class='header' style='background-image: url(assets/img/header-bg.png)')
    .header__menu
        .container
            .row.align-content-center.header__wrap-adj
                .header__logo
                    a(class='logo__link' href='#')
                        img(class='logo__pic' src='assets/img/logo.png')
                nav.header__nav
                    ul.nav__list
                        li.nav__item
                            a(class='nav__item-link' href='#home') Home
                        li.nav__item
                            a(class='nav__item-link' href='#women') Women
                        li.nav__item
                            a(class='nav__item-link' href='#men') Men
                        li.nav__item
                            a(class='nav__item-link' href='#men') Kids
                        li.nav__item
                            a(class='nav__item-link' href='#sale') Sale
                .header__right
                    .search-bar
                        input(class="search-bar__type" type="text" placeholder="Search")
                    .cart
                        a(class="cart__link" href="#" style="background-image: url(assets/img/icons/cart.png)")
                            //i(class="fa fa-shopping-cart")
    .header__desc
        .container
            .row.flex-column.justify-content-center.align-items-center
                h1.header__title-text Welcome to the best shop
                .desc__wrap
                    p This is a test template for fashion shop
                a(class='desc__btn' href='#') Shop now







