section.promo
    .container
        .promo__top
            h2.promo__title crazy sale ends in
            .promo__timer(id='clockdiv')
                .timer__block
                    span.timer__date days
                    span.days.timer__digit
                .timer__block
                    span.timer__date hours
                    span.hours.timer__digit
                .timer__block
                    span.timer__date minutes
                    span.minutes.timer__digit
                .timer__block
                    span.timer__date seconds
                    span.seconds.timer__digit
        .promo__bot
            .container
                .siema
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-7.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-2.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-3.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/male-t-shirt.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-6.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-7.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart
                    .container__slide
                        .shop__item.slider-fix
                            a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-6.png)' href='goods.html' target="_blank")
                                span.shop__item-desc More info
                            .shop__item-bot
                                h3.item__bot-title Lorem ipsum is a pseudo-Latin
                                .item__price-wrap
                                    span.item__price.item__price-line $129.99
                                    span.item__price $29.99
                                a(class='desc__btn shop__btn' href='#') Add to cart