section.sales
    .container-fluid
        .row
            div(class='sales__left col-sm-6' style='background-image: url(assets/img/sales-1.png)')
                .sales__bot
                    h2.sales__title Everything under $20
                    a(class='desc__btn sales__btn' href='#') Shop now
            div(class='sales__right col-sm-6' style='background-image: url(assets/img/sales-2.png)')
                .sales__bot
                    h2.sales__title Everything under $20
                    a(class='desc__btn sales__btn' href='#') Shop now