section.shop
    .container
        .row
            ul.shop__list
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-7.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-2.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-3.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/male-t-shirt.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-4.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-5.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Loresm ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart
                li.shop__item
                    a(class='shop__top' style='background-image: url(assets/img/products/female-t-shirt-6.png)' href='#' target="_blank")
                        span.shop__item-desc More info
                    .shop__item-bot
                        h3.item__bot-title Lorem ipsum is a pseudo-Latin
                        span.item__price $29.99
                        a(class='desc__btn shop__btn' href='#') Add to cart