// vars

$main-color: #666666;
$hover-color: #FF75C9;
$border-color: #95989A;
$text: #434343;


//imports
@import "plugins/bootstrap.min";
@import "fonts/font-awesome.min";
@import "_misc/mixins";
@import "_misc/adjustment";
@import "plugins/hamburgers/hamburgers";
@import "plugins/slick";




// sections
@import "sections/header";
@import "sections/sales";
@import "sections/shop";
@import "sections/promo";
@import "sections/brands";
@import "sections/footer";
@import "sections/header-fixed";
@import "sections/goods__top";
@import "sections/goods__bot";
@import "sections/cart";



// adjustments

.maincontent  {
  flex-direction: column;
}

h1, h2 {
  text-transform: uppercase;
}

section, header {
  background-size: cover;
  background-position: center;
  position: relative;
}

body  {
  opacity: 1;
}

a {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    color: $hover-color !important;
    text-decoration: none;
  }
}

button {
  outline: none;
    &:focus {
      outline: none;
    }
}


