//.container--desc  {
//  border-bottom: 1px solid $border-color;
//}

.desc {
  padding: 60px 0;
}

.desc__right {
  padding-right: 0;
}

.desc__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

.desc__left-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.desc__title  {
  color: $text;
  font-size: 40px;
  margin-bottom: 15px;
}

.desc__category {
  font-size: 14px;
  color: $text;
  margin-right: 5px;

}

.desc__wrap-category  {
  display: flex;
    p {
      font-size: 14px;
    }
}

.desc__rating {
  display: flex;
}

.rating__icons  {
  margin-right: 10px;
}

.fa-star  {
  font-size: 25px;
  cursor: pointer;
  color: #FFBB00;
  margin-right: 5px;
    &:last-child  {
      margin-right: 0;
    }
}

.rating__value-digits {
  color: $text;
  font-size: 14px;
}

.desc__left-mid {
  display: flex;
  margin-bottom: 20px;
    p {
      margin: 0;
      color: $text;
    }
}
.desc__left-bot {
  display: flex;
  align-items: flex-start;
}

.desc__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desc__form-inputs  {
  display: flex;
  padding: 10px 0;
  &:nth-child(4)  {
    padding-bottom: 0;
  }
  label {
    text-transform: uppercase;
    border: 1px solid $border-color;
    color: $border-color;
    display: flex;
    cursor: pointer;
    width: 43px;
    height: 43px;
    font-size: 14px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    margin-bottom: 0;
      &:last-child  {
        margin-right: 0;
      }
  }
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

}

.desc__form-inputs input:checked + label {
  border: 1px solid $hover-color;
  color: $hover-color;
}

.desc__form-btn {
  position: absolute;
  right: 15px;
  bottom: 0;
  text-transform: uppercase;
  border: 0;
  background-color: #727272;
  color: #ffffff;
  padding: 10px 31px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: .3s ease;
    &:hover {
      background-color: $border-color;
    }
    &:active {
      transform: translateY(1px);
    }
}

.gallery__small-wrap  {
  display: flex;
}

.desc__right  {
  display: flex;
  flex-direction: column;
}

.gallery__big-img, .gallery__small-img  {
  width: 100%;
  height: auto;
}

.gallery__big-pic {
  margin-bottom: 10px;
  border-radius: 10px;
}

.gallery__small-pic {
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid transparent;
  transition: .3s ease;
    &:last-child  {
      margin-right: 0;
    }
    &:hover {
      border-color: $hover-color;
    }
}