.header {
  display: flex;
  min-height: 700px;
  height: 100vh;
  flex-direction: column;
  &:before {
    content: '';
    background: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header__menu {
  position: relative;
  padding: 36px 0;
  &:before {
    content: '';
    background: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header__logo {

}

.header__wrap-adj {

  display: flex;
  justify-content: space-between;

}

.header__nav  {
  display: flex;
  flex-grow: 2;
  padding: 0 20px 0 50px;
    @include phones {
      display: none;
    }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablets  {
    width: 100%;
  }
}

.nav__item  {
  margin-right: 20px;
  &:last-child  {
    margin-right: 0;
  }
}

.nav__item-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  transition: color .3s ease;
  &:hover {
    color: $hover-color;
  }
}


.header__right {
  display: flex;
  align-items: center;
  @include phones {
    margin-top: 20px;
  }
}

.search-bar {
  margin-right: 15px;
}

.search-bar__type {
  background-color: transparent;
  color: #767370;
  border-radius: 20px;
  border: 1px solid #fff;
  padding:  5px 15px;
  font-style: italic;
  &:focus {
    border: 1px solid $hover-color;
    text-decoration: none;

  }
}

.cart {
  display: flex;
}

.cart__link {
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  text-align: center;
  width: 35px;
  height: 35px;
    &:hover {
      border-color: $hover-color;
    }
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: $hover-color;
    border-radius: 50%;
    bottom: 0;
    left: 0;
  }
}
//.fa-shopping-cart {
//  font-size: 20px;
//  color: #ffffff;
//  padding: 5px;
//}

.header__desc {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.desc__wrap {
  word-wrap: break-word;
  max-width: 500px;
    p {
      color: #95989a;
      font-size: 15px;
      margin-top: 10px;
      word-wrap: break-word;
      max-width: 500px;

    }
}

.header__title-text {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  @include phones {
    font-size: 30px;
  }
}

.desc__btn  {
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 10px;
  transition: .3s ease;
  &:hover {
    color: $hover-color;
    border-color: $hover-color;
  }
}

// dropdowm

.menu-fix {
  display: none;
  outline: none;
    @include phones {
      display: block;
      z-index: 1111;
      position: fixed;
      top: 40px;
      right: 10px;
      background-color: rgba(102, 102, 102, 0.87);
      border-radius: 5px;
    }
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: auto;
  opacity: 0;
  transition: opacity .3s;
  z-index: 100;

  &.animated {
    top: 0;
    bottom: 0;
    opacity: 1;

    .menu__left, .menu__right {
      transform: translateX(0);
    }
  }
}

.menu__left, .menu__right {
  background: rgba(102, 102, 102, 0.87);
  transition: .5s;
  transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.menu__left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  transform: translateX(-100%);
}

.menu__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  transform: translateX(100%);
}

.menu__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  text-decoration: none;
  font-size: 40px;
  color: #fff;
  display: inline-block;
  opacity: 0;
}

.bounce-in {
  animation: bounceIn 1s;
  animation-fill-mode: forwards;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
